my_profile/web/image/
# setting
#./my_profile/config/web.php
#./my_profile/config/db.php

.idea/inspectionProfiles/Project_Default.xml
.idea/2ndapp.iml
.idea/modules.xml
.idea/workspace.xml
.idea/php.xml
my_profile/config/db.php~
my_profile/config/web.php~
.idea/my_profile.iml
.idea/phpspec.xml
.idea/phpunit.xml
